.body{
 background-color: #41714e ;
}
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 8px;
}

tr {
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  padding: 8px;
}
#table-deletion {
  padding-left: 10px;
  padding-right: 10px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  letter-spacing: 2px;
}
button a {
  color: white;
  text-decoration: none
}

.lower-page {
  position: fixed;
  bottom: 0;
  left: 350px;
}